# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ESLint configuration
.eslintrc.cjs

# Node.js dependencies
node_modules/

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Vite configuration
vite.config.js

# PostCSS configuration
postcss.config.js
